@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Medium.woff2') format('woff2'),
      url('/public/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Italic.woff2') format('woff2'),
      url('/public/fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/public/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/public/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --animation-hover: all 400ms ease;
  --dark-color: #121417;
  --white-color: #ffffff;
  --accent-color: #F4C550;
  --bg-lightblue: #f8f8f8;
  --accent-light: #fbe9ba;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}